= bootstrap_form_for @client, url: url, html: { class: 'card' } do |f|
  .form-field
    = f.text_field :name, class: 'form-control'
    = f.text_field :wa, class: 'form-control'
    = f.text_field :ig, class: 'form-control'
    = f.submit
