.container
  %p Заполняем русскими буквами (кириллицей).
  = bootstrap_form_for profile, url: profile_dashboard_path, method: :patch, html: { role: 'form' } do |f|
    - if profile.errors.any?
      #errors_explaination
        %h2= "#{pluralize(profile.errors.count, "error")} prohibited this profile from being saved:"
        %ul
          - @profile.errors.full_messages.each do |message|
            %li
              *
              = message
    .form-row.align-items-center.form-group
      .col
        = f.text_field :name, class: 'form-control', placeholder: 'Имя', label: 'Имя'
      .col
        = f.text_field :second_name, class: 'form-control', placeholder: 'Отчество', label: 'Отчество'
      .col
        = f.text_field :surname, class: 'form-control', placeholder: 'Фамилия', label: 'Фамилия'

    .form-row.align-items-center.form-group
      .col
        = f.phone_field :phone, class: 'form-control', placeholder: 'телефон'
      .col

        = f.email_field :email, class: 'form-control', placeholder: 'email'
      .col
        = f.date_field :dob, class: 'form-control', placeholder: 'ГГГГ-ММ-ДД', label: 'дата рождения ГГГГ-ММ-ДД'
    .form-row.mt-2
      = f.text_field :inn, class: 'form-control', placeholder: 'ИНН', label: 'ИНН'
      %p Информацию о вашем ИНН вы сможете найти на сайте
      .col
      = link_to 'nalog.ru', 'https://service.nalog.ru/inn.do', target: '_blank', class: 'btn btn-outline-primary float-right'

    .form-row
      .col
        %h4.mt-4 Boxberry
        = f.select :country_code, set_iso_code, {}, class: 'form-control', label: 'Код страны доставки'
        = f.select :passport_code, set_iso_code, {}, class: 'form-control', label: 'код страны выдавшей паспорт'

    .form-row
      .col
        = render 'list_cities'
        = f.number_field :city_code, label: 'Код города', id: 'CityCode'
        -# %p адрес отделения выберите на сайте
        -# %a= link_to 'boxberry.ru', 'https://boxberry.ru/find_an_office/', target: '_blank', class: 'btn btn-outline-primary'
        -# %span.p  номер отделения, что-то вроде "99631"
    .form-row
      .col
        %a.button.btn.button-primary{:href => "#"} Показать отделения

        = render 'list_points'
        = f.text_field :boxberry_office_id, class: 'form-control', label: 'Отделение Boxberry, куда доставить посылку'

    .form-row
      .col
        %h4.mt-4 Паспорт
        = f.text_field :passport_number, class: 'form-control', label: 'Номер паспорта'
        = f.text_area :passport_issuer, class: 'form-control', label: 'паспорт выдан'
        = f.date_field :passport_date_issue, class: 'form-control', label: 'Дата выдачи паспорта  ГГГГ-ММ-ДД'
      -# .form-group.col-md-4
      -#   = f.label :'номер извещения (не заполнять)'
      -#   = f.text_field :notification_number, class: 'form-control'
      -#   = f.label :'код извещения (не заполнять)'
      -#   = f.text_field :notification_code, class: 'form-control'
    .form-row
      .form-group
        = f.submit 'сохранить', class: 'button btn btn-success'
