.container
  %p Заполняем русскими буквами (кириллицей).
  = form_for profile, url: profile_dashboard_path, method: :patch, html: { role: 'form' } do |f|
    - if profile.errors.any?
      #errors_explaination
        %h2= "#{pluralize(profile.errors.count, "error")} prohibited this profile from being saved:"
        %ul
          - @profile.errors.full_messages.each do |message|
            %li
              *
              = message
    .form-row.align-items-center.form-group
      .col-auto.form-group
        -# = f.label :'Имя', class: 'form-inline'
        = f.text_field :name, class: 'form-control', placeholder: 'Имя'
      .col-auto.form-group
        -# = f.label :'Отчество'
        = f.text_field :second_name, class: 'form-control', placeholder: 'Отчество'
      .col-auto.form-group
        -# = f.label :'Фамилия'
        = f.text_field :surname, class: 'form-control', placeholder: 'Фамилия'

    .form-row.align-items-center.form-group
      .col-auto.form-group
        -# = f.label :'Телефон'
        = f.phone_field :phone, class: 'form-control', placeholder: 'телефон'
      .col-auto.form-group
        -# = f.label :email
        = f.email_field :email, class: 'form-control', placeholder: 'email'
        -# = f.label :'дата рождения ГГГГ-ММ-ДД'
      .col-auto.form-group
        = f.date_field :dob, class: 'form-control', placeholder: 'ГГГГ-ММ-ДД'
    .form-row.mt-4.form-group
      .form-group
        -# = f.label :'ИНН'
        = f.text_field :inn, class: 'form-control', placeholder: 'ИНН'
        %p
          Информацию о вашем ИНН вы сможете найти на сайте
        = link_to 'nalog.ru', 'https://service.nalog.ru/inn.do', target: '_blank', class: 'btn btn-outline-primary float-right'
      .form-group

    -# .form-row
    -#   .form-group.col-md-4
    -#     -# = f.label :'Код страны доставки'
    -#     -# = f.text_field :country_code, class: 'form-control'
    -#     -# = f.select :country_code, set_iso_code, {}, prompt: 'выберите', class: 'form-control'
    -#     -# -# = f.label :'код страны выдавшей паспорт'
    -#     -# = f.text_field :passport_code, class: 'form-control'
    -#     -# = f.select :passport_code, set_iso_code, {}, prompt: 'Выберите', class: 'form-control'
    -#     = f.label :'Отделение Boxberry, куда доставить посылку'
    -#     = f.text_field :boxberry_office_id, class: 'form-control'
    -#     %p адрес отделения выберите на сайте
    -#     %a= link_to 'boxberry.ru', 'https://boxberry.ru/find_an_office/', target: '_blank', class: 'btn btn-outline-primary'
    -#     %span.p  ссылка должна содержать номер отделения, там есть кнопочка скопировать: boxberry.ru/find_an_office/99631/


    .form-row
      .form-group.col-md-4
        %h4.mt-2 Паспорт
        = f.label :'Номер паспорта'
        = f.text_field :passport_number, class: 'form-control'
        = f.label :'паспорт выдан'
        = f.text_field :passport_issuer, class: 'form-control'
        = f.label :'Дата выдачи паспорта  ГГГГ-ММ-ДД'
        = f.date_field :passport_date_issue, class: 'form-control'
      -# .form-group.col-md-4
      -#   = f.label :'номер извещения (не заполнять)'
      -#   = f.text_field :notification_number, class: 'form-control'
      -#   = f.label :'код извещения (не заполнять)'
      -#   = f.text_field :notification_code, class: 'form-control'
    .form-row
      .form-group
        = f.submit 'сохранить', class: 'button btn btn-success'
