- if current_user.admin?
  = render 'shared/profile/navbar'
- else
  .section
    .card

      - if @profile_deals.present?
        %h4.card-header Ваши посылки
        %a.card-header{href: "https://boxberry.ru/tracking/", target: '_blank'}https://boxberry.ru/tracking/
        .card-body
          %h6 У вас #{@profile.packages.count} послылка.
          - @profile.packages.each do |package|
            %p Трек-код #{package.tracking_code}
            %p Вес #{package.weight}г.
            %p
              Стоимость доставки #{package.cost}EUR
        .card-body
          - @profile.deals.each do |deal|
            %p= deal.item.item_full_name

    %h2
      Hi
      = @profile.name if @profile.present?
      !
  .section
    %p Вы купили что-то в аккаунте @italyphotoshopping. Поздравляем, вы сделали правильный выбор! Будем рады, если после получения посылки вы пришлете нам фото, чтобы мы убедились, что с вашей посылкой все в порядке. Как вариант, вы можете сделать пост в инстаграм и отметить наш аккаунт.
    %p Так ваши подруги узнают, что у вас новая итальянская сумка, ремень или шарф и они точно побелеют от зависти. (Но это не точно, нужно будет проверить информацию... :).
  .section
    .text-block
      %h2 Дальнейший порядок работы таков:
      %p
        Вы регистрируетесь в
        = link_to 'личном кабинете', profile_dashboard_edit_path, class: 'text-primary'
    .text-block
      %p Вы заполняете данные для оформления таможенной декларации. Таможенники используют ваши данные, чтобы отслеживать все покупки, которые получил каждый житель РФ, и, если сумма покупок превысит эквивалент 500 EUR в месяц, - вас попросят заплатить налог. Имейте это в виду, когда делаете заказы в любых иностранных магазинах.
      %p Мы пакуем посылку и взвешиваем ее. После взвешивания мы сможем узнать стоимость доставки (она расчитывается от веса и размера посылки). В среднем доставка сумки обходится в 1400-1500 рублей.
      %p Вы оплачиваете доставку.
      %p Мы отправляем вам трек-код отслеживания вашей посылки.
      -# = link_to 'мои заказы', orders_path, class: 'btn btn-outline-info'
      %p Вы получаете уведомление о поступлении посылки в пункт выдачи заказа.
      %p Вы забираете посылку, открываете ее и ...
      %p Счастье охватывает вас. Вы улыбаетесь и смеетесь!
    .text-block
      = link_to 'выйти из ЛК', destroy_user_session_path, class: 'btn btn-outline-warning align-self-end'
    .text-block
      - if current_user.admin?
        = link_to 'пользователи', users_index_path, class: 'btn btn-outline-danger'
