.container
  .section
    .card
      %p
        ФИО:
        = @profile.name
        = @profile.second_name
        = @profile.surname
      %p
        Дата рождения
        = @profile.dob
      %p
        Паспортные данные:
        паспорт
        = @profile.passport_number
        выдан
        = @profile.passport_date_issue
        = @profile.passport_issuer
        , код
        = @profile.passport_code
      %p
        ИНН
        = @profile.inn
      %p
        Контактные данные
        = @profile.phone
        = @profile.email

  .section
    = link_to '< назад в кабинет', profile_dashboard_index_path, class: 'btn btn-info'

    = link_to 'редактировать профиль >', edit_profile_dashboard_path, class: 'btn btn-success'
