.container
  %h2 Users#index
  %p
  .form-inline#search
    = form_tag(profiles_path, method: :get, class: 'form-field mb-4' ) do
      Name #{text_field_tag :search, params[:search], class: 'form-control mr-2'}#{submit_tag 'Search', name: nil, class: 'button btn btn-outline-primary ml-auto'}

  - @users.each do |user|

    - if !user.name.nil?
      .card.card-body
        %h5
          профиль
          = link_to user.full_name_with_id, profile_path(user)
          %a{:href => "#{wa_message(user.phone, "Добрый день, #{user.name}!")}", target: '_blank'} #{user.phone}
        - user.packages.each do |package|
          %lead= link_to "Посылка ##{package.id}, EUR #{package.package_cost}, #{package.tracking_code}", package_path(package)
          -# .block
          -#   - @tracking_status[0].each do |s|
          -#     %small= s[1]
          -#     -# %p= tracking_status(package.tracking_code)
          -#     %br
      %br
