
= form_for @order, html: { class: 'form'} do |f|
  .form-row
    .form-group.col-md-4
      = f.label :item_id, 'Выберите лот', class: 'control-label'
      = f.collection_select(:item_id, Item.all, :id, :name, class: 'form-control')
    .form-group.col-md-4
      = f.label :user_id, class: 'control-label'
      = f.collection_select(:user_id, Profile.all, :user_id, :name, class: 'form-control')
      = f.label :payment_status, 'Оплата', class: 'control-label'
      = f.select(:payment_status) do
        - [['Created', 'Created'], ['Billed', 'Billed'], ['Paid', 'Paid']].each do |c|
          = content_tag(:option, c.first, value: c.last)
    .form-group.col-md-4
      = f.label :tracking_code, 'код отслеживания', class: 'control-label'
      = f.text_field :tracking_number, class: 'form-control'
      = f.label :status, 'Статус закза', class: 'control-label'
      = f.text_field :status, class: 'form-control'
    .form-group.col-12
      = f.submit(class: 'btn btn-success')
