%h1 Order#create
.section
  = form_for @order, html: { class: 'card' } do |f|
    - if @photo_session.errors.any?
      #error_explanation
        %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
        %ul
          - @photo_session.errors.full_messages.each do |message|
            %li= message
    = f.label :passport_number
    = f.text_field :field
    = f.submit
