.container
  .eyebrow.text-center
    .order-section
      %h2
        Список заказов
      = link_to '+ Add new order', new_order_path, class: 'btn btn-success'
    .row.eyebrow
    - @orders.each do |order|
      .col-md-4.col-sm-6
        .order
          %h4
            Заказ:
            = link_to(order.id, order_path(order))
            = link_to 'Edit', edit_order_path(order)

            %p
              ips_#{order.user_id}
            %p
              = order.user.profile.name
              = order.user.profile.second_name
              = order.user.profile.surname
            %p
              статус
              = order.status
            %p
              оплата
              = order.payment_status
            %p
              = order.user.profile.phone
            %p
              = link_to "отправить трек код >", ("https://api.whatsapp.com/send?phone=" + "#{order.user.profile.phone}" + "&text=" + "Привет!%20Вот%20трек-код%20отслеживания%20посылки:%20#{order.tracking_number}" + "%20https://boxberry.ru/tracking/" + "&source=&data="), target: "_blank"
              -# = link_to order.user.profile.phone "https://api.whatsapp.com/send?phone=79122406229&text=&source=&data=
            %p
              = link_to order.user.profile.boxberry_office_id, order.user.profile.boxberry_office_id

            %p
              = order.user.profile.email
          -# %p
          -#   = order.user.profile.inn
          %h4
            Лот:
            -# = @orders.all.ids
            = order.item_id
            -# = @items.all
          -# - @items.order.item_id  do |item|
            %p
              = item.art
              = item.brand
              = item.name
              = item.price
            %p
              = item.item
              = item.color
              = item.size
            %p
              = item.price

          .button
            = link_to('Show order', order_path(order), class: 'btn btn-success')

          %br
