.container
  %h2
    orders index
    - @orders.each do |order|
      .order
        %h4
          Заказ:
          = order.id
        %p
          = order.user.profile.phone
        %p
          = order.user.profile.passport_number
        %p
          = order.user.profile.passport_date_issue
        %p
          = order.user.profile.passport_issuer
        %p
          = order.user.profile.name
        %p
          = order.user.profile.second_name
        %p
          = order.user.profile.surname
        %p
          = order.user.profile.email
        %p
          = order.user.profile.inn

        %h4
          Лот:
          = order.item_id
        %p
          = @items.art
          = @items.brand
          = @items.name
          = @items.price
          = order.user.profile.boxberry_office_id
        %p
          = @items.item
          = @items.color
          = @items.size
        %p
          = @items.price


        %br
  = link_to 'create order', new_order_path
