%h1 Order#show
%p Find me in app/views/order/show.html.haml
%p
  = @user.profile.phone
%p
  = @user.profile.passport_number
%p
  = @user.profile.passport_date_issue
%p
  = @user.profile.passport_issuer
%p
  = @user.profile.name
%p
  = @user.profile.second_name
%p
  = @user.profile.surname
%p
  = @user.profile.phone
%p
  = @user.profile.email
%p
  = @user.profile.inn

%h4
  Лот:
  = @item.id
%p
  ips_#{@order.user_id}
%p
  = @item.price
%p
  = @order.user.profile.boxberry_office_id
%p
  art:
  = @item.art
%p
  = @item.brand
%p
  = @item.name
  = @item.item
  = @item.color
  = @item.size
%p
  http://shop.ekaterinaivanova.com
  = url_for item_path(@item)
%p
  = @item.item
  = @item.brand
  = @item.name
  = @item.color
  = @item.size

= link_to '< Back', orders_path
