.section.about
  %h2 About
  %p Шопинг в Италии Аутлеты, спачио, бутики 👌🏻
  %span В этом году мне пришла идея побыть вашим личным Дедом Морозом 🎅🏽 Собрать каждому по мешку подарков, запаковать в коробку и отправить накануне праздников, помогая вам в подготовке к Новому Году 🎄Чтобы вы могли порадовать близких и, конечно же, себя самого! 😜<br>Поэтому следите за постами и вовремя делайте заказы! Потому что все, что я для вас отбираю, - это выгодные предложения. Не дешевые, а именно отвечающие соотношению «цена - качество»!<br>Плюс ко всему, возможность купить большинство марок в России отсутствует. У остальных же я успеваю вылавливать для вас самые сладкие предложения 🤗
  .section
    =link_to "О нас", page_path('about'), class: "btn btn-success"

.section.contacts
  = content_tag(:a, 'Контакты', name: 'Contacts', class:"h2")
  %p Ребятки! В ближайшее время отправимся в Серавалле и в Милан, чтобы ознакомиться со свеженьким ассортиментом!
  %p ✔️ Что интересует нас прежде всего: сумки, итальянский кашемир/шерсть, аксессуары.  ✔️ В этот раз все фотографии с ценами будем выкладывать в этот аккаунт и в сториз.✔️ Едем мы на пару дней, в течение которых вы сможете задать все вопросы и выкупить заинтересовавшие вас лоты! Потом поедем снова, но гарантировать наличие именно этих лотов, увы, не могу 🤷🏼‍♀️
  %p ✔️ Из новенького. В этот раз вам не нужно будет ждать нашего возвращения в Россию и последующей рассылки в ваши города. Отправлять посылки мы будем прямо отсюда!
  %p ✔️ Также мы планируем собирать боксы на каждого покупателя. То есть вам не нужно торопиться, вы можете шопить в течение определенного периода, после чего все ваши покупки отправятся одной посылкой прямо на ваш адрес.
  %p ✔️ В прошлый наш шопинг все примерно так и было, девочки заказывали сначала сумочки, потом кашемир, позже аксессуары. Причем не только себе, но и друзьям и родным.
  %p ✔️ Не стесняйтесь запрашивать нужные вам замеры.
  %p ✔️ Также присылайте фотографии тех вещей, которые вы бы хотели, чтобы мы разыскали.
  %p ✔️ Любые вопросы можно задавать в директ или в вацап, живую ссылку добавлю в шапку профиля )
  .section
    = link_to "написать мне", "https://api.whatsapp.com/send?phone=79122406229&text=&source=&data=", class: "btn btn-success"

.section.review
  .container.my-4
    = content_tag(:a, 'Отзывы', name: 'rewievs', class:"h2")
    = render 'reviews/show'
    = link_to "Отзывы", reviews_path, class: "btn btn-primary"
.section.shipping
  = content_tag(:a, 'Shipping', name: 'shipping', class:"h2")
  = render 'pages/shipping'

.section.payment
  %h2 Payment
  = render 'pages/payment'

-#.section.conditions
  %h2 Conditions

.section.agreement
  %h2 Users agreement
  = render 'pages/agreement'

.section.warranty
  %h2 Warranty
  = render 'pages/warranty'

.section.return
  %h2 Return
  = render 'pages/return'

.section.gdpr
  %h2 GDPR
  = render 'pages/gdpr'
