= form_for @profile_item, class: 'form mx-auto' do |f|
  - if @profile_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile_item.errors.count, "error")} prohibited this profile_item from being saved:"
      %ul
        - @profile_item.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :item
    = f.text_field :item, class: 'form-control'
  .field
    = f.label :brand
    = f.select :brand_id, Brand.order(:name).map { |b| [b.name, b.id] },  class: 'form-control'
  .field
    = f.label :color
    = f.text_field :color, class: 'form-control'
  .field
    = f.label :'selling price'
    = f.number_field :price, class: 'form-control'
  .field
    = f.label :'cost price'
    = f.number_field :cost, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'button btn btn-outline-primary btn-block mt-4'
