= bootstrap_form_for @deal do |f|
  - if @deal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deal.errors.count, "error")} prohibited this deal from being saved:"
      %ul
        - @deal.errors.full_messages.each do |message|
          %li= message

  .field
    = f.select :profile_id, Profile.order(:name).map { |p| [[p.name, p.surname, p.phone, p.email].join(' '), p.id] }, prompt: true, id: "profileSelector", label: 'Профиль пользователя'

  .field
    = f.select :item_id, Item.order(:model_id).map { |i| [["##{i.id}", i.item_name.name, i.name, i.brand.name, i.color.name, i.size.name].join(' '), i.id] }, prompt: true, label: 'Лот'

  .field

  .form-row
    .col
      = f.number_field :bye, placeholder: '100', label: 'Купили за (Евро)'
    .col
      = f.number_field :sell, placeholder: '200', label: 'Продали за (Евро)'
  .form-row
    .col
      = f.text_field :status, value: 'выкуплен', label: 'Статус сделки'
    .col
      = f.text_field :messenger, placeholder: 'телефон или инста', label: 'Способ общения с клиентом'

  .field
    = f.text_area :comment, value: 'ждем еще что-то',label: 'Комментарий по сделке'
  .form-row
    .col-6
      = f.text_field :payment_method, placeholder: 'Tinkoff'
    .col-auto.align-self-center
      = f.check_box :paid
    .col-auto.align-self-center
      = f.check_box :ransom
  .form-row
    .col
      = f.number_field :h, value: '15', label: 'Высота в сантиметрах'
    .col
      = f.number_field :w, value: '20', label: 'Ширина в сантиметрах'
    .col
      = f.number_field :l, value: '15', label: 'Длина в сантиметрах'
  .field
    = f.number_field :weight, value: '1000', label: 'Вес в граммах'
  -# .field
    -# = f.select :package_id, Package.order(:id).map { |p| [p.id, p.user_id]}, prompt: true, label: 'Посылка, в которой сделка поедет к клиенту'
  .actions.mt-4
    = f.submit 'Save', class: 'button btn btn-secondary btn-block'
