.section
  %p#notice= notice

  %p
    %b Profile:
    = @deal.profile.full_name_with_id
    = @deal.profile.phone if @deal.profile.phone?
    = @deal.profile.email if @deal.profile.email?
  %p
    %b
      Deal:
      = @deal.id
      Item:
      = link_to @deal.item.item_full_name_with_id,
      item_path(@deal.item.id)
  %p
    %b Bye:
    = @deal.bye
  %p
    %b Sell:
    = @deal.sell
  %p
    %b Стоимость Доставки
    = @cost
    EUR
  %p
    %b Status:
    = @deal.status
  %p
    %b Messenger:
    = @deal.messenger
  %p
    %b Paid:
    = @deal.paid
  %p
    %b Ransom:
    = @deal.ransom
  %p
    %b Comment:
    = @deal.comment
  %p
    %b Payment method:
    = @deal.payment_method

  -# = shipping_cost

  = link_to 'Edit', edit_deal_path(@deal)
  \|
  = link_to 'Back', request.referer || deals_path
