= bootstrap_form_for @profile_deal do |f|
  - if @profile_deal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@profile_deal.errors.count, "error")} prohibited this profile_deal from being saved:"
      %ul
        - @profile_deal.errors.full_messages.each do |message|
          %li= message

  .actions
    .form-group
      = f.select :item_id, options_for_select(Profile::Item.order(:brand).map { |i| [ ['#', i.id, '-',i.item, i.brand, i.color].join(" "), i.id ] } ) # TODO: ADD SIZE
      = f.select :client_id, options_for_select(Client.all.collect { |c| [ c.name, c.id ] } )
    .form-group
      .form-check-inline
        = f.number_field :buy
        = f.check_box :byed, class: 'form-control'
    .form-group
      .form-check-inline
        = f.number_field :sell
        = f.check_box :paid, class: 'form-control'
    .form-group
      = f.text_field :messenger, class: 'form-control'
    .form-group
      = f.submit 'Save', class: 'button btn btn-primary btn-block mt-4'
