= bootstrap_form_with scope: :item, url: items_path do |f|
  = render "shared/errors", object: @item
  .row
    .col-sm-12.col-md-6
      %h4 Item details

      = f.select :brand_id, Brand.order(:name).map { |b| [b.name, b.id] }, prompt: true
      = f.select :item_name_id,  ItemName.order(:name).map { |i| [i.name, i.id] }, prompt: true
      = f.text_field :name
      = f.select :model_id, Model.order(:name).map { |m| [m.name, m.id] }, prompt: true
      = f.select :color_id, Color.order(:name).map { |c| [c.name, c.id] }, prompt:true
      = f.select :size_id, Size.order(:name).map { |s| [s.name, s.id] }, prompt:true

    .col-sm-12.col-md-6
      %h4 Merchant data
      = f.text_field :ean
      = f.text_field :art


    .col-sm-12.col-md-6
      %h4 Price section
      = f.number_field :price
      = f.number_field :eur_price
      = f.file_field :image

  .row
    .col-sm-12.col-md-6
      =f.submit "Сохранить", class: "btn btn-outline-primary btn-block"
