%tr
  %td= link_to "##{item.id} #{item.item_name.name}", item_path(item)
  %td= item.brand.name
  %td= item.model.name
  %td= item.color.name
  %td= item.size.name
  %td= item.price
  %td= item.eur_price
  %td= item.art
  %td= item.ean
