.container
  %h1
    All items
  .block
    - @items.each do |item|
      .card
        .row
          .col-sm-2
            = image_tag(item.photos[0].url, size: "96x128")
          .col-sm-8
            %p Item
            %h2
              = item.item
              %span= item.brand
              %span= item.name
            %h3
              = item.price
              %span РУБ.
            %h3= link_to 'Show >', item_path(item), class: "btn btn-success"
