.container
  - if user_signed_in? && current_user.admin?
    %h2= link_to 'new item', new_item_path, class: 'btn btn-outline-primary'
  %h5
    Товары
  .block
    .row.cards
      - @items.each do |item|
        .col-sm-6.col-md-4.col-lg-3.card
          .card-body
            - if item.image.attachment.nil?
              = image_tag('/ek.jpg', size: "170x230")
            - else
              = image_tag(item.image.variant(resize:"170x230"))
            %h2
              = item.item
              %span= item.brand.name if item.brand_id?
              %span= item.name if item.name?
            -# %h3
            -#   = item.price if item.price?
            -#   %span РУБ.
            %h3= link_to 'Show >', item_path(item), class: "btn btn-success"
