.container
  %h1
    Товары
  .block
    .cards
      - @items.each do |item|
        .card
          - if item.image.blank?
            = image_tag('/ek.jpg', size: "170x240")
          - else
            = image_tag(item.image, size: "170x240")
          %h2
            = item.item
            %span= item.brand
            %span= item.name
          %h3
            = item.price
            %span РУБ.
          %h3= link_to 'Show >', item_path(item), class: "btn btn-success"
