.jumbotron
  .container
    .row
      .col-sm-3.order-2.m-4
        = link_to '< back', items_path, class: "btn btn-primary"
        %p
          Item name
        %h2
          = @item.item
          %span= @item.brand
          %span= @item.name
          %span= @item.color
          %span= @item.size
        %p
          article
          %span= @item.art
      .col-sm-6.order-1
        = image_tag(@item.image, size: "480x640")
        -#= image_tag @item.photos[0].url, size: "480x640"
      .col-sm-3.order-3.m-4
        = link_to "купить >", new_order_path, class: "btn btn-info"

        %h3
          = @item.price
          %spam rub
