.jumbotron
  .container
    .row
      .col-sm-3.order-2.m-4
        .form-inline.justify-content-between
          = link_to '< back', items_path, class: "btn btn-outline-primary"
          = link_to "добавить к заказу >", new_order_path, class: "btn btn-outline-success" if user_signed_in? && current_user.admin?

        %h2
          = @item.item
          %span= @item.item_name.name if @item.item_name_id?
          %span= @item.brand.name if @item.brand_id?
          %span= @item.name if @item.name?
          %span= @item.color.name if @item.color_id?
          %span= @item.size.name if @item.size_id?
        %p
          = @item.price
          %span rub
        %p
          article
          %span= @item.art
      .col-sm-6.order-1
        - if @item.image.valid?
          = image_tag(@item.image, size: "480x640")
        - else
          = image_tag('/ek.jpg', size: "480x640")
