.container
  .block
    = @batch.created_at
    %h4
      Batch ##{@batch.id}
      = @batch.batch_status.status

    - @batch.packages.order(delivery_paid: :asc).each do |package|
      %row
        %a.badge.badge-success{:href => wa_message(package.profile.phone, "Привет!"), target: "_blank" } #{package.profile.full_name}
        %p
          id: #{package.id}
          Status: #{package.shipping_status}
          Трек:
          = link_to package.tracking_code, package_path(package)
          Доставка оплачена #{human_boolean(package.delivery_paid)}
          (#{package.cost} EUR)

  .block
    = link_to 'Back', batches_index_path
