%table.table.table-responsive-lg.table-hover
  %thead
    %tr
      %th #
      %th ФИО
      -# %th Отч
      -# %th Фам
      %th Тел, email
      -# %th country
      %th паспорт
      %th ИНН
      %th Дата рождения
      %th Boxberry
      %th City code
  %tbody
    %tr
      %th= profile.id
      %td= link_to profile.full_name, profile
      -# %td= profile.second_name
      -# %td= profile.surname
      %td= "#{profile.phone} #{profile.email}"
      -# %td= profile.country_code
      %td
        = profile.passport_code
        = profile.passport_number
        = profile.passport_issuer
        = profile.passport_date_issue
      %td= profile.inn
      %td= profile.dob
      %td= profile.boxberry_office_id
      %td= profile.city_code
