.header.navbar.fixed-top.navbar-transparent.navbar-expand-md
  .container
    = link_to "Italy photo shopping", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li.nav-item
          = link_to "Товары", items_path, class: 'nav-link'
        %li.nav-item
          = link_to "Информация", page_path('terms'), class: 'nav-link'
        %li.nav-item
          -if user_signed_in?
            = link_to "Кабинет", profile_index_path, class: 'nav-link'
          - else
            = link_to "Войти", new_user_session_path, class: 'nav-link'
