%nav.navbar.navbar-expand-md.navbar-light.bg-light
  = link_to "Italy photo shopping", root_path, class: 'navbar-brand'
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button", :role => "navigation"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to (t 'layouts.items'), items_path, class: 'nav-link'
      %li.nav-item
        = link_to (t 'layouts.terms'), page_path('terms'), class: 'nav-link'
      - if user_signed_in? && current_user.admin?
        %li.nav-item
          = link_to (t 'layouts.deals'), deals_path, class: 'nav-link'
        %li.nav-item
          = link_to (t 'layouts.packages'), packages_path, class: 'nav-link'
        %li.nav-item
          = link_to (t 'layouts.batches'), batches_path, class: 'nav-link'
        %li.nav-item
          = link_to (t 'layouts.users'), profiles_path, class: 'nav-link'
    %ul.navbar-nav.ml-auto
      %li.nav-item
        - if user_signed_in?
          = link_to (t 'layouts.cabinet'), profile_dashboard_path, class: 'nav-link'
        - else
          = link_to (t 'layouts.sign_in'), new_user_session_path, class: 'nav-link'
